.fa-plus-circle { color: $add-icon-menu; }
.login-box, .register-box { width: 500px; }
.mission_total { color: #6c757d; font-size: 25px; }
.btn-delete { margin-top:5px; }
.d-block a { color:#6c757d !important; }